* { 
  margin: 0; 
  box-sizing: border-box; 
}

.sidebar { 
  position: fixed; 
  left: 0; 
  top: 0; 
  width: 200px; 
  height: 100vh; 
  background-color: #2b2d42; 
  overflow-x: hidden; 
  transition: width 0.3s; 
  padding-top: 20px; 
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
} 

body { 
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
} 

.banner {
  margin-left: 200px; 
  width: calc(100vw - 200px); 
  height: 45vh;
  display: block
}

.banner img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.center {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-content {
  margin-left: 200px;
  padding: 20px;
  width: calc(100vw - 200px); 
  background-color: #f4f4f4;
  display: block;
}

.menu {
  width: 200px;
}

.content {
  display: none;
  overflow: hidden;
  background-color: #f9f9f9;
}

.collapsible {
  background-color: #2b2d42;
  color: edf2f4;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}

.collapsible:hover {
  background-color: #444b5a;
  color: #f4f4f4;
}

.content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.content li {
  padding: 10px;
  margin: 0;
}

.content li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #2b2d42;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.content li a:hover {
  background-color: #1d1a70;
  color: #edf2f4;
}

ul li:hover {
  background-color: #4e51a3;
  color: #fff;
}

.main-content {
  margin-left: 220px;
  padding: 25px;
  background-color: #edf2f4;
  color: #2b2d42;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: calc(100vw - 240px); 
}

.main-content h1 {
    color: #ef233c;
    font-size: 48px;
    margin-bottom: 10px;
}

.main-content h2 {
    color: #333;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ef233c;
}

.main-content h4 {
    color: #8d99ae;
    font-size: 16px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
    color: #2b2d42;
    line-height: 1.6;
}

ul {
    margin-bottom: 20px;
    padding-left: 20px;
    color: #2b2d42;
}

ul li {
    margin-bottom: 5px;
}

strong {
    font-weight: bold;
    color: #ef233c;
}

.page-loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: #272727;
  z-index: 1000;
}

  .txt {
    color: #666;
    text-align: center;
    top: 40%;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: bold;
    line-height: 1.5;
  }
}

/*MING TESTS*/
.spinner {
  position: relative;
  top: 35%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: #fff;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
