body { 
  font-family: 
    Arial, sans-serif; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  margin: 0; 
  background-color: #f4f4f4; 
} 

.menu { 
  width: 200px; 
} 

.collapsible { 
  background-color: #333; 
  color: white; cursor: pointer; 
  padding: 15px; 
  width: 100%; 
  border: none; 
  text-align: left; 
  outline: none; font-size: 18px; 
} 

.content { 
  display: none; 
  overflow: hidden; 
  background-color: #f9f9f9; 
} 

.content ul { 
  list-style-type: none; 
  padding: 0; 
} 

.content li { 
  padding: 10px; 
} 

.content li a { 
  text-decoration: none; 
  color: #333; 
  font-weight: bold; 
} 

.content li a:hover {
  color: #007bff; 
}
